 <div class="content">
     <div class="row">
         <ul>
           <li><i class="bi bi-justify-left"></i></li>
           <li><h3>EB Reports</h3></li>
         </ul>
     </div>
        <div class="coloum">
            <ul>
              <li> <i class="bi bi-bell"></i></li>
              <li> <i class="bi bi-search"></i></li>
             <li><i class="bi bi-person-circle"></i></li>
          <li>   <div class="dropdown show">
                <a class="text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                  John Doe
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </li>
            </ul>
       </div>
    </div>