h1{
    color: brown;
    background-color: white;
    text-align: center;
    font-family: play;
}
p{
    font-size: 20px;
}
.myFormData{
    text-align: center;
    font-size: 20px;
    color: blue;
}